<!-- <hr>
<footer>
    <div class="text-center">

    </div>
</footer> -->


<!-- Footer -->
<footer class="panel-footer footerSeparator">

    <!-- Footer Elements -->
    <div class="container">

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-md-6 mb-4">
                <div class="footer-copyright py-3">
                    <p class="textContent">Art Gallery &copy; {{ currentDate }}</p>
                </div>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4">
                <button class="btn btn-sm btn-outline-white my-0" type="button">
                    <i class="fab fa-github-square"></i>
                    GitHub
                </button>                
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </div>    
</footer>
<!-- Footer -->