<!-- <hr>
<footer>
    <div class="text-center">

    </div>
</footer> -->


<!-- Footer -->
<footer class="panel-footer">

    <!-- Footer Elements -->
    <div class="container">

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-md-6 mb-4">
                <button class="btn btn-sm btn-outline-white my-0" type="button">
                    Add icon here later
                </button> 

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4">
                <button class="btn btn-sm btn-outline-white my-0" type="button">
                    Add icon here later
                </button>                
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        <p>Art Gallery &copy; {{ currentDate }}</p>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->