footer {
    max-height: 20vh;
    overflow: hidden; 
    /* overflow hidden stops footer background color from separating from icons and text when stretched */
}

.galleryFooter {
    background-color: brown;
}