<div class="backdrop" (click)="close()">

</div>

<div class="alert-box" [ngStyle]="{ 'overflow-y': viewerOpen ? 'hidden' : 'auto' }">
    
    <app-image-viewer [imageURL]="artWork.imgPath" [open]="viewerOpen" (close)="viewerOpen = false"
    ></app-image-viewer>
    
    <p>
        Title:
        {{ artWork.title }}
    </p>
    
    <p>
        Artist: 
        {{ artWork.artist }}
    </p>
    
    <p>
        Country of Origin: 
        {{ artWork.country }}
    </p>
    
    <p>
        Review: 
        {{ artWork.review }}
    </p>
    
    <p>
        Year: 
        {{ artWork.year }}
    </p>
    
    <p>
        Genre: 
        {{ artWork.genre }}
    </p>
    
    <div class="image-container" (click)="viewerOpen = true">
        <img [src]="artWork.imgPath" alt="">
    </div>
    
    <div class="alert-box-actions">
        <button class="btn btn-primary" (click)="close()">Close</button>
    </div>
</div>