<div class="container alert-box">

    <div class="controlPanel">
        <button (click)="close()">Close</button>
        <button>Enable Entry Count</button>
    </div>

    <div class="row">

        <div class="col-md-3">
            <h3 #artistHead>Artists:</h3>
            <ul class="list-group">
                <li *ngFor="let artist of artists" class="list-group-item element">
                    <p (click)="selectFilter(artist, artistHead)" >{{ artist }} <span class="badge pull-right">z</span></p>                    
                </li>
            </ul>
        </div>

        <div class="col-md-3">
            <h3>Genres:</h3>
            <p *ngFor="let genre of genres">{{ genre }}</p>            
        </div>

        <div class="col-md-3">
            <h3>Countries:</h3>
            <p *ngFor="let country of countries">{{ country }}</p>
        </div>

        <div class="col-md-3">
            <h3 #yearHead>Years:</h3>
            <p (click)="selectFilter(year, yearHead)" *ngFor="let year of years">{{ year }}</p>
        </div>

    </div>

</div>