<div class="container alert-box">

    <div class="controlPanel">
        <button (click)="close()">Close</button>
        <button (click)="calculateDisplayEntryCount()">Enable Entry Count</button>
        <button (click)="resetFilters()">Default</button>
    </div>

    <div class="row">

        <div class="col-md-3">
            <h3 #artistHead>Artists:</h3>
            <ul class="list-group">
                <li *ngFor="let artist of artists" class="list-group-item element">
                    <p (click)="selectFilter(artist.val, artistHead)">{{ artist.val }}
                        <span *ngIf="displayEntryCount" class="badge pull-right">{{ artist.amount }}</span></p>
                </li>
            </ul>
        </div>

        <div class="col-md-3">
            <h3 #genreHead>Genres:</h3>
            <ul class="list-group">
                <li *ngFor="let genre of genres" class="list-group-item element">
                    <p (click)="selectFilter(genre.val, genreHead)">{{ genre.val }}
                        <span *ngIf="displayEntryCount" class="badge pull-right">{{ genre.amount }}</span></p>
                </li>
            </ul>
        </div>

        <div class="col-md-3">
            <h3 #countryHead>Countries:</h3>
            <ul class="list-group">
                <li *ngFor="let country of countries" class="list-group-item element">
                    <p (click)="selectFilter(country.val, countryHead)">{{ country.val }}
                        <span *ngIf="displayEntryCount" class="badge pull-right">{{ country.amount }}</span></p>
                </li>
            </ul>
        </div>

        <div class="col-md-3">
            <h3 #yearHead>Years:</h3>
            <ul class="list-group">
                <li *ngFor="let year of years" class="list-group-item element">
                    <p (click)="selectFilter(year.val, yearHead)">{{ year.val }}
                        <span *ngIf="displayEntryCount" class="badge pull-right">{{ year.amount }}</span></p>
                </li>
            </ul>
        </div>

    </div>

</div>