<div class="col-xs-12">

    <app-art-display-info [artWork]="selWork" *ngIf="selWork" (onClose)="closeDisplayModal()">
    </app-art-display-info>

    <h3>Placeholder text</h3>

    <a (click)="browseOpen = true">Browse</a>

    <app-browse *ngIf="browseOpen" 
    (onClose)="closeBrowseModal()"
    (filterQuery)="setFilter($event)"
    ></app-browse>

    <hr>

    <form class="presentation" [formGroup]="searchByTitle" (ngSubmit)="search()">
        <div class="form-group">
            <label style="margin-right: 8px;" for="query">Search By Title: </label>
            <input type="text" formControlName="query" placeholder="Search...">
            <button type="submit">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                Search</button>
        </div>
    </form>

    <!-- Todo: timing needs to be fixed -->
    <div *ngIf="isLoading" class="presentation">
        <load-spinner></load-spinner>
    </div>

    <div *ngIf="!isLoading">
        <div class="galleryItem" *ngFor="let artDisplay of artModels; let i = index">
            <app-art-display [index]="i" (click)="selectWork(i)">
            </app-art-display>
        </div>
    </div>
</div>