    <div class="container">
        <ul class="nav navbar-nav">
            <!-- Curator access contains CRUD functs -->
            <li routerLinkActive="active">
                <a routerLink="/curator/painting" id="textContent">Paintings</a>
            </li>
            <li routerLinkActive="active">
                <a 
                routerLink="/curator/sculpture" id="textContent" routerLinkActive #rla="routerLinkActive">
                Sculptures</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="" id="textContent">Not Implemented</a>
            </li>
            <li routerLinkActive="active" >
                <a routerLink="" id="textContent">Not Implemented</a>
            </li>
        </ul>
    </div>
    <br>

    <router-outlet></router-outlet> 
    
    <!-- <div class="col-md-5 ">
        <app-list 
        (changeFormMode)="receiveAddWork($event)"
        ></app-list>        
    </div>
    <div class="col-md-7">
        Submit form 
        <router-outlet></router-outlet>   
    </div> -->
