<div class="container selectionBar">
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <!-- Curator access contains CRUD functs -->
            <li routerLinkActive="active" class="active">
                <a routerLink="/curator/painting" id="textContent">
                    Paintings</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/curator/sculpture" id="textContent">
                    Sculptures</a>
            </li>
        </ul>
    </nav>
    
</div>
<br>

<router-outlet></router-outlet>

<!-- <div class="col-md-5 ">
        <app-list 
        (changeFormMode)="receiveAddWork($event)"
        ></app-list>        
    </div>
    <div class="col-md-7">
        Submit form 
        <router-outlet></router-outlet>   
    </div> -->