a {
    max-width: 220px;
}

h4 {
    text-align: center;
}

#displaySel:hover {
    opacity: 80;
}

.selection {
    text-align: center;
    width: 220px;
    height: 275px;
    filter: brightness(80%);
    overflow: hidden;
}

.selection:hover {
    filter: brightness(100%);
}


.wrapper img {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 20px;
}

.imgDisplay {
    object-fit: cover;
    border-radius: 50%;    
}