a {
    max-width: 220px;
}

h4 {
    text-align: center;
}

#displaySel:hover {
    opacity: 80;
}

.selection {
    width: 220px;
    height: 280px;
    filter: brightness(80%);
}

.selection:hover { 
    filter: brightness(100%);
 }