body {
    /* background-image: url('pexels-stephan-seeber-1054289.jpg'); */
    background-color: rgb(226, 212, 195);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}